<div class="page-header">
  <h3>Time Table #<%= @time_table.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Train number</dt>
      <dd><%= @time_table.train_number %></dd>

      <dt>Station name</dt>
      <dd><%= @time_table.station_name %></dd>

      <dt>Stop name</dt>
      <dd><%= @time_table.stop_name %></dd>

      <dt>Arrival time</dt>
      <dd><%= @time_table.arrival_time %></dd>

      <dt>Departure time</dt>
      <dd><%= @time_table.departure_time %></dd>

      <dt>Stop</dt>
      <dd><%= @time_table.stop_id %></dd>

      <dt>Date</dt>
      <dd><%= @time_table.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/time_tables" class="btn btn-primary">
        Back
      </a>
      <a href="/time_tables/<%= @time_table.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_time_table/<%= @time_table.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
