<div class="page-header">
  <h3>Int Stat Len #<%= @int_stat_len.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dstopid</dt>
      <dd><%= @int_stat_len.dstopid %></dd>

      <dt>Astopid</dt>
      <dd><%= @int_stat_len.astopid %></dd>

      <dt>Distance</dt>
      <dd><%= @int_stat_len.distance %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/int_stat_lens" class="btn btn-primary">
        Back
      </a>
      <a href="/int_stat_lens/<%= @int_stat_len.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_int_stat_len/<%= @int_stat_len.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
