<div class="page-header">
  <h1>
    Stop data
    <a href="/stop_data/new" class="btn btn-lg btn-success">New Stop datum</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Station name</th>
        <th>Stop name</th>
        <th>Long</th>
        <th>Lat</th>
        <th>Stop</th>
        <th>Map</th>
        <th>Direction</th>
        <th>Mileage</th>
        <th>Actions</th>
      </tr>

      <% @stop_data.each do |stop_datum| %>
      <tr>
        <td><%= stop_datum.station_name %></td>
        <td><%= stop_datum.stop_name %></td>
        <td><%= stop_datum.long %></td>
        <td><%= stop_datum.lat %></td>
        <td><%= stop_datum.stop_id %></td>
        <td><%= stop_datum.map_id %></td>
        <td><%= stop_datum.direction_id %></td>
        <td><%= stop_datum.mileage %></td>
        <td>
          <a href="/stop_data/<%= stop_datum.id %>" class="btn btn-primary">Show</a>
          <a href="/stop_data/<%= stop_datum.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_stop_datum/<%= stop_datum.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
