<div class="page-header">
  <h3>Train Log #<%= @train_log.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Train number</dt>
      <dd><%= @train_log.train_number %></dd>

      <dt>Station name</dt>
      <dd><%= @train_log.station_name %></dd>

      <dt>Stop name</dt>
      <dd><%= @train_log.stop_name %></dd>

      <dt>Train locationbasestation</dt>
      <dd><%= @train_log.train_locationbasestation %></dd>

      <dt>Record time</dt>
      <dd><%= @train_log.record_time %></dd>

      <dt>Train locationmileage</dt>
      <dd><%= @train_log.train_locationmileage %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/train_logs" class="btn btn-primary">
        Back
      </a>
      <a href="/train_logs/<%= @train_log.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_train_log/<%= @train_log.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
