<div class="page-header">
  <h1>
    Cta locs
    <a href="/cta_locs/new" class="btn btn-lg btn-success">New Cta loc</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Rn</th>
        <th>Tmst</th>
        <th>Destst</th>
        <th>Destnm</th>
        <th>Trdr</th>
        <th>Nextstaid</th>
        <th>Nextstpid</th>
        <th>Nextstanm</th>
        <th>Prdt</th>
        <th>Arrt</th>
        <th>Isapp</th>
        <th>Isdly</th>
        <th>Flags</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Heading</th>
        <th>Actions</th>
      </tr>

      <% @cta_locs.each do |cta_loc| %>
      <tr>
        <td><%= cta_loc.rn %></td>
        <td><%= cta_loc.tmst %></td>
        <td><%= cta_loc.destst %></td>
        <td><%= cta_loc.destnm %></td>
        <td><%= cta_loc.trdr %></td>
        <td><%= cta_loc.nextstaid %></td>
        <td><%= cta_loc.nextstpid %></td>
        <td><%= cta_loc.nextstanm %></td>
        <td><%= cta_loc.prdt %></td>
        <td><%= cta_loc.arrt %></td>
        <td><%= cta_loc.isapp %></td>
        <td><%= cta_loc.isdly %></td>
        <td><%= cta_loc.flags %></td>
        <td><%= cta_loc.lat %></td>
        <td><%= cta_loc.lon %></td>
        <td><%= cta_loc.heading %></td>
        <td>
          <a href="/cta_locs/<%= cta_loc.id %>" class="btn btn-primary">Show</a>
          <a href="/cta_locs/<%= cta_loc.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_cta_loc/<%= cta_loc.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
