<div class="page-header">
  <h3>Train Status #<%= @train_status.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Train number</dt>
      <dd><%= @train_status.train_number %></dd>

      <dt>Status</dt>
      <dd><%= @train_status.status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/train_statuses" class="btn btn-primary">
        Back
      </a>
      <a href="/train_statuses/<%= @train_status.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_train_status/<%= @train_status.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
